@import "reset.css";

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header, .panel, .timestamp {
  font-family: Arial, sans-serif;
}

h3 {
  font-family: Georgia, serif;
}

body > header {
  display: flex;

  height: 45px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #f2f2f2;
  background-color: rgb(38, 38, 38);

  font-size: 13px;

  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 21px;
  margin-top: -6px;
  margin-left: 15px;
}

body > header  ul {
  display: flex;
}

body > header li {
  padding: 0 7px;
}

header ul {
 display: inline-flex;

 padding-right: 5px;

 justify-content: center;
 align-items: center;
}

header nav {
  padding-left: 45px;
}

.panel {
  position: relative;

  display: flex;

  height: 45px;
  padding-left: 15px;

  letter-spacing: 1px;

  border-bottom: 1px solid #ccc;
  background-color: #fff;

  font-weight: bold;

  align-items: center;

}

.panel button {
  position: absolute;
  right: 0px;

  margin-right: 8px;

  cursor: pointer;
  letter-spacing: .5px;
  text-transform: uppercase;

  color: #999;
  border: none;

  font-size: 13px;
  font-weight: 500;
}

main {
  height: 100vh;
  padding-top: 15px;

  background-color: rgb(242, 242, 242);
}

section {
  width: 75vw;
  margin: 0 auto;

  border: 1px solid #ccc;
  border-top: 4px solid #b88b58;
  background-color: #fff;
}

nav ul li a:hover {
  color: #999;
}

nav ul li a {
  transition: color .20s ease-out;
  text-decoration: none;

  color: #fff;
}

.panel span {
  margin-right: 5px;
  margin-left: 12px;

  color: #999;
}

.panel {
  margin-left: -10px;

  letter-spacing: .5px;

  font-size: 13px;
  font-weight: 600;
}

section header {
  letter-spacing: .4px;
  text-transform: uppercase;

  color: #999;

  font-size: 14px;
  font-weight: 600;
  line-height: 16px;

}

.container {
  display: flex;

  padding: 0 18px 18px;

  align-items: stretch;
  flex-flow: row nowrap;
}

.top-stories {
 height: 370px
}

.top-stories__header {
  margin-top: 16px;
  margin-left: 18px;
}

.card-is-important {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 100%;
  margin-top: 18px;
  margin-right: 15px;

  border-bottom: 0;

}

.card-is-important h3 {
  width: 100%;

  font-size: 32px;
  line-height: 36px;

  flex: 1;
}

.card-is-important .timestamp {
  margin-top: 12px;

  color: #999;

  font-size: 12px;
  line-height: 14px;

}

.timestamp img {
  margin-right: 5px;
}

.container-right {
  display: flex;

  width: 50%;

  flex-flow: row wrap;
}

.card, .card2, .card3, .card4 {
  display: inline-flex;
  flex-direction: column;

  width: 50%;
  height: 140px;
  margin-top: 15px;
  padding: 15px 25px 14px;

  font-size: 18px;
  line-height: 22px;

}

.card .timestamp {
  display: inline-flex;

  margin-top: 33px;

  color: #999;

  font-size: 12px;
  line-height: 14px;

  flex-flow: row wrap;
}
.card2 .timestamp {
  display: inline-flex;

  margin-top: 12px;

  color: #999;

  font-size: 12px;
  line-height: 14px;

  flex-flow: row wrap;
}

.card3 .timestamp {
  display: inline-flex;

  margin-top: 34px;

  color: #999;

  font-size: 12px;
  line-height: 14px;

  flex-flow: row wrap;
}

.card4 .timestamp {
  display: inline-flex;

  margin-top: 34px;

  color: #999;

  font-size: 12px;
  line-height: 14px;

  flex-flow: row wrap;
}
